::-moz-selection {
	color:#fff;
    background: $selected-background-color;
    text-shadow: none;
}
::selection {
	color:#fff;
    background: $selected-background-color;
    text-shadow: none;
}
body {
	color:$bodytext;
	font-size:90%;
	background:$brand-color-dark;
	font-family: "proxima-nova",sans-serif;
	@media all and (min-width: $desktop) {
		font-size:100%;
		background:#fff;
	}
}
.wrapper {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $desktop) {
		width:$desktop;
	}
}
.wrapper-footer {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $desktop) {
		width:1180px;
	}
}
.clearfix:after {
   content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1
}

.button {
	display:inline-block;
	color:#fff;
	border-radius:5px;
	padding:15px 50px 15px 44px;
	font-weight:600;
	background:$brand-color-light url(img/small-right-arrow.svg) no-repeat 87% center;
}
.navigation {
	.buttonleft a {
		float:left;
		display:inline-block;
		color:#fff;
		border-radius:5px;
		padding:15px 44px 15px 50px;
		font-weight:600;
		margin-top:em(14);
		margin-bottom:em(24);
		background:#23b8d1 url(img/small-left-arrow.png) no-repeat 10% center;
	}
	.buttonright a {
		float:right;
		display:inline-block;
		color:#fff;
		border-radius:5px;
		padding:15px 44px 15px 50px;
		font-weight:600;
		margin-top:em(14);
		margin-bottom:em(24);
		background:#23b8d1 url(img/small-right-arrow.png) no-repeat 87% center;
	}
}

header {
	position:relative;
	float:left;
	width:100%;
	text-align:center;
}
.header {
	display:none; 
	@media all and (min-width: $ipad) {
		display:block;
		position:absolute;
		top:20px;
		left:0;
		width:93.76811594202898%; 
		padding:em(24) 3.11594202898551%;
		background: rgba(66,66,81,0.92);
		z-index:200;
		@media all and (min-width: $desktop) {
			width:83.76811594202898%; 
			padding:em(24) 8.11594202898551%;
		}
	}
}
.logo {
	float:left;
}
#page { 
	position: relative; 
	left: 0; 
	top:0px; 
	/*z-index: 99999; */
}
.pageContent { 
	background: #fff; 
	height: 100%; 
	z-index: 9999; 
}

/*  Genaral headers and text */
h1 {
	color:$dark-grey;
	text-align:center;
	font-size:em(38);
	line-height:41px;
	font-weight:800;
	@media all and (min-width: $ipad) {
		font-size:em(48);
		line-height:51px;
	}
}
h1.filter-result {
	display:block;
	color:$dark-grey;
	font-size:em(24);
	line-height:30px;
	text-align:left;
	font-weight:400;
	margin-bottom:em(6);
}
span.border {
	width:140px; /* 140 / 1380 */
	display:block;
	margin:em(18) auto;
	border-bottom:2px solid $dark-grey;
}
p {
	color:$dark-grey;
	text-align:center;
	font-size:em(16);	
	line-height:30px;
	margin-bottom:em(54);
}

.colour-first-para p:first-of-type {
	color:$lighttext;
	font-size:em(24);	
	line-height:40px;
	margin-bottom:em(18);
}

.colour-first-para.purple p:first-of-type {
	color:$purple;
}

.sentmessage {
	width:100%;
	display:inline-block;
	margin-bottom:em(50);
	border-bottom:1px solid #cccccc;
	h1 {
		font-size:em(48);
		line-height:51px;
	}
	p {
		color:#3ab7ec;
		font-size:em(16);
		line-height:30px;
	}
}
.sentsubscribe,
.wrapper-6col .sentsubscribe {
	width:100%;
	display:inline-block;
	margin-bottom:em(50);
	border-bottom:1px solid #cccccc;
	h1 {
		color:#3ab7ec;
		font-size:em(48);
		line-height:51px;
	}
	p {
		color:#3ab7ec;
		font-size:em(16);
		line-height:30px;
	}
}

.columns {
	text-align:center;
	@media all and (min-width: $ipad) {
		width:75.51020408163265%; /*  740 / 980 */
		margin:0 auto;
	}
	p:first-of-type  {
		line-height:30px;
		color:$dark-grey;
		text-align:center;
		font-size:em(16);	
		line-height:30px;
	}
}

.service {
	float:left;
	width:100%;
	margin:0 0 em(30) 0;
	@media all and (min-width: $ipad) {
		width:23.72881355932203%; /* 280 / 1180 */
		min-height:290px;
		margin-top:em(60);
		margin-right:1.69491525423729%;  /* 20 / 1180 */
		margin:0 0 em(10) 0;
		&:nth-of-type(even) {
			margin-right:1.69491525423729%;
		}
		&:nth-of-type(4n) {
			margin-right:0;
		}
	}
	img {
		float:left;
		max-width:40px;
		margin-bottom:em(20);
	}
	h2 {
		clear:left;
		font-size:em(16);
		font-weight:bold;
		text-align:left;
		margin-bottom:em(15);
		@media all and (min-width: $ipad) {
			height:em(41);
		}
	}
	ul li {
		list-style-type:disc;
		font-size:em(16);
		text-align:left;
		margin-left:17px;
	}
}

.diagram {
	margin-bottom:em(30);
	@media all and (min-width: $ipad) {
		margin-bottom:em(60);
	}
}

.intro {
	width:100%;
	display:inline-block;
	text-align:center;
	padding:em(39) 0 em(60) 0;
	background:#fff;
	@media all and (min-width: $ipad) {
		padding-top:em(69);
	}
	h1, p {
		width:90%; 
		display:block;
		margin-right:auto;
		margin-left:auto;
		@media all and (min-width: $ipad) {
			width:56.52173913043478%; /*  780 / 1380 */
		}
	}
	p {
		margin-bottom:em(54);
		&.client-list {
			font-weight: 800;
			font-size:em(37);
			line-height:49px;
			margin-bottom:0;
		}
	}
	&.e404 {
		span.border {
			width:47.45762711864407%; /* 560 / 1180 */
			display:block;
			margin:em(18) auto;
			border-bottom:2px solid $dark-grey;
		}
		p {
			margin-bottom:em(40);
		}
		.margintop {
			margin-top:em(40);
		}
	}
}

.intropage {
	width:100%;
	display:inline-block;
	text-align:center;
	padding:em(39) 0 em(60) 0;
	background:#fff;
	@media all and (min-width: $ipad) {
		padding-top:em(69);
	}
	h1, p {
		width:90%; 
		display:block;
		margin-right:auto;
		margin-left:auto;
		@media all and (min-width: $ipad) {
			width:56.52173913043478%; /*  780 / 1380 */
		}
	}
	p {
		margin-bottom:em(29);
		&.subtext{
			font-weight: 400;
			font-size:em(32);
			line-height:44px;
			margin-bottom:0;
		}
	}
	span.border {
		width:47.45762711864407%; /* 560 / 1180 */
		display:block;
		margin:em(18) auto em(24) auto;
		border-bottom:2px solid $dark-grey;
		&.spacer {
			margin-bottom:em(37);
		}
	}
}

.wedo-strip {
	float:left;
	width:100%;
	min-height:400px;
	text-align:center;
	background:url(img/tile-bg.png) repeat top left;
	padding:em(39) 0 em(60) 0;
	@media all and (min-width: $ipad) {
		padding-top:em(69);
	}
	&.aboutus {
		background:url(img/tile-bg-about.png) repeat top left;
	}
	h1, p {
		width:90%; 
		display:block;
		color:#fff;
		margin:0 auto;
		text-align:center;
		@media all and (min-width: $ipad) {
			width:49.15254237288136%; /*  580 / 1180 */
		}
	}
	h1 {
		font-size:em(38);
		line-height:41px;
		font-weight:800;
		@media all and (min-width: $ipad) {
			font-size:em(48);
			line-height:51px;
		}
	}
	h2 {
		color:#fff;
		font-size:em(18);
		line-height:24px;
		text-align:center;
		font-weight:600;
	}
	span {
		display:block;
		margin:em(18) auto;
		border-bottom:2px solid #fff;
	}
	p {
		font-size:em(16);	
		line-height:30px;
		margin-bottom:em(54);
	}
}

.col {
	float:left;
	width:100%;
	margin:0 0 em(10) 0;
	@media all and (min-width: $ipad) {
		width:23.72881355932203%; /* 280 / 1180 */
		min-height:240px;
		margin-right:1.69491525423729%;  /* 20 / 1180 */
		&:nth-of-type(even) {
			margin-right:1.69491525423729%;
		}
		&:nth-of-type(4n) {
			margin-right:0;
		}
	}
	p {
		width:90%;
	}
	img {
		width:126px;
		min-height:126px;
		display:block;
		margin:0 auto em(48) auto;
	}
	span {
		width:50%; /* 140 / 280 */
		margin:em(14) auto;
	}
}

.person {
	position:relative;
	display:inline-block;
	width:100%;
	vertical-align:top;
	padding-bottom:em(58);
	margin-bottom:em(40);
	@media all and (min-width: $ipad) {
		width:29.21768707482993%; /* 286.3333333333333333 / 980 */
		min-height:em(417);
		margin-right:2.04081632653061%;  /* 20 / 980 */
		margin-left:2.04081632653061%;  /* 20 / 980 */
	}
	@media all and (min-width: $desktop) {
		min-height:em(600);
	}
	h2, p {
		width:90%; 
		display:block;
		color:#fff;
		margin:0 auto;
		text-align:center;
		@media all and (min-width: $ipad) {
			width:83.92857142857143%; /*  235 / 280 */
		}
		&.sub {
			font-size:em(18);
			font-weight:bold;
		}
	}
	h2 {
		font-weight:bold;
	}
	.bio {
		border-radius: 50%;
		border:10px solid #fff;
		margin-bottom:em(35);
	}
	ul {
		position:absolute;
		left:50%;
		bottom:0;
		display:block;
		margin-left:-40px;
		text-align:center;
		li {
			width:30px;
			display:inline;
			margin:0 4px;
		}
	}
}

.grey-strip {
	float:left;
	width:100%;
	text-align:center;
	background:url(img/grey-tile.png) repeat top left;
	padding:em(39) 0 em(60) 0;
	@media all and (min-width: $ipad) {
		padding-top:em(69);
	}
	h1, h2, p {
		color:#fff;
	}
}

.wrapper-6col {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $ipad) {
		width:560px; /* 560 / 1180 */
	}
	h1 {
		font-size:em(38);
		line-height:41px;
		font-weight:800;
		@media all and (min-width: $ipad) {
			font-size:em(48);
			line-height:51px;
		}
	}
	h2 {
		font-size:em(18);
		line-height:24px;
		text-align:center;
		font-weight:600;
	}
	span.border {
		width:11.86440677966102%; /* 140 / 1180 */
		display:block;
		margin:em(18) auto;
		border-bottom:2px solid #fff;
		&.dark {
			border-bottom:2px solid $dark-grey;
		}
	}
	
	p {
		font-size:em(16);	
		line-height:30px;
		margin-bottom:em(54);
		&.smallmargin {
			margin-bottom:em(30);
		}
		&.smallprint {
			font-size:em(12);
			margin-top:em(18);
		}
	}
}

.wrapper-7col {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $ipad) {
		width:706px; /* 706 / 1180 */
	}
}

.wrapper-10col {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $desktop) {
		width:980px; /* 980 / 1180 */
	}
	h1, p {
		width:90%; 
		display:block;
		margin-right:auto;
		margin-left:auto;
		@media all and (min-width: $ipad) {
			width:100%; /*  780 / 980 */
		}
	}
}

.wrapper-12col {	
	position:relative;
	width:96%;
	display:block;
	margin:0 auto;
	@media all and (min-width: $desktop) {
		width:1180px; /* 1180 / 1180 */
	}
	h1, p {
		width:90%; 
		display:block;
		margin-right:auto;
		margin-left:auto;
		@media all and (min-width: $ipad) {
			width:79.59183673469388%; /*  780 / 980 */
		}
	}
}

.full-width {
	h1, h2, p {
		width:100%;
	}
}

/* Twitter */
.social-feed {
	float:left;
	width:100%;
	text-align:center;
	padding:em(52) 0 em(28) 0;
	background:$offwhite;
	p {
		width:100%;
		color:$blue;
		text-align:center;
		margin:em(12) auto em(14) auto;
		font-size:em(16);
		line-height: 24px;
		font-style:italic;
		font-weight:bold;
		@media all and (min-width: $ipad) {
			width:59.42028985507246%; /*  820 / 1380 */
			font-size:em(32);
			line-height:38px;
		}
		a {
			color:$blue;
		}
	}
}

.contact {
	float:left;
	width:100%;
	text-align:center;
	padding:em(52) 0 em(28) 0;
	background:#fff;
	h1, p {
		display:block;
		color:$dark-grey;
		margin:0 auto;
		text-align:center;
	}
	h1 {
		font-size:em(38);
		line-height:41px;
		font-weight:800;
		@media all and (min-width: $ipad) {
			font-size:em(48);
			line-height:51px;
		}
	}
	span.border {
		width:10.14492753623188%; /* 140 / 1380 */
		display:block;
		margin:em(18) auto;
		border-bottom:2px solid $dark-grey;
	}
	p {
		font-size:em(16);	
		line-height:20px;
		margin-bottom:em(18);
		@media all and (min-width: $ipad) {
			line-height:30px;
		}
		&.smallprint {
			margin-top:em(20);
		}
	}
}

/*  Experience */
.intro .wrapper-12col .col3 {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:em(40);
	@media all and (min-width: $ipad) {
		width:32.20338983050847%; /* 380 / 1180 */
		min-height:480px;
		margin-right:1.69491525423729%;  /* 20 / 1180 */
		&:nth-of-type(3n+3) {
			margin-right:0;
		}
	}
	@media all and (min-width: $desktop) {
		min-height:505px;
	}
	h1 {
		display:table;
		font-size:em(28);
		line-height:34px;
		height:87px;
		font-weight:bold;
		padding:em(5) 0;
		border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
		margin-top:em(10);
		margin-bottom:em(4);
		span { 
			display: table-cell;
			vertical-align:middle;
			text-align: left;
		}
	}
	p {
		color:$dark-grey;
		font-size:em(16);
		line-height:25px;
		text-align:left;
	}
}

.intro .wrapper-10col .secondsection {
	width:100%;
	display:inline-block;
	padding-top:em(39);
	border-top:1px solid #ccc;
	@media all and (min-width: $ipad) {
		padding-top:em(69);
	}
	p {
		color:$dark-grey;
		font-size:em(16);
		line-height:25px;
	}
}

.client-logos {
	margin-top:em(60);
	li {
		float:left;
		width:48%;
		margin-right:2%;
		margin-bottom:em(8);
		&:nth-of-type(even) {
			margin-right:0;
		}
		@media all and (min-width: $ipad) {
			width:23.72881355932203%; /*  280 / 1180 */
			margin-right:1.69491525423729%; /*  20 / 1180 */
			margin-bottom:em(20);
			&:nth-of-type(even) {
				margin-right:1.69491525423729%; /*  20 / 1180 */
			}
			&:nth-of-type(4n+4) {
				margin-right:0;
			}
		}
	}
}

/* Journal blog */
.blog {
	width:100%;
	display:inline-block;
	background:#fff;
}
section {
	float:left;
	width:100%;
	margin-top:em(30);
	@media all and (min-width: $ipad) {
		width:65.25423728813559%; /*  770 / 1180 */
		margin-top:em(60);
	}
	p {
		text-align:left;
	}
}
.single section img {
	margin:em(10) 0;
}
.single section {
	@media all and (min-width: $ipad) {
		margin-top:em(50);
	}
}
.archive section,
.search section {
	@media all and (min-width: $ipad) {
		margin-top:em(52);
	}
}
article a {
	display:block;
	padding-bottom:em(35);
	border-bottom:1px solid #ccc;
	margin-bottom:em(35);
	
	h1 {
		text-align:left;
		font-size:em(34);
		font-weight:600;
		line-height:40px;
		margin-top:em(8);
		margin-bottom:em(4);
	}
	span {
		color:$dark-grey;
		display:block;
		margin-bottom:em(14);
		&.readmore {
			color:#35b8d0;
			margin-bottom:0;
		}
	}
	p {
		text-align:left;
		margin-bottom:em(40);
	}
}
.social-icons li a {
	float:left;
	margin-right:20px;
	margin-bottom:em(40);
}
aside {
	float:left;
	width:100%;
	margin-top:em(30);
	@media all and (min-width: $ipad) {
		float:right;
		width:32.20338983050847%; /*  380 / 1180 */
		margin-top:em(52);
	}
	h3 {
		display:block;
		color:$dark-grey;
		font-size:em(24);
		line-height:30px;
		margin-bottom:em(3);
	}
	form {
		display:block;
		margin-bottom:em(29);
		margin-top:em(8);
		input {
			width:96%;
			@media all and (min-width: $desktop) {
				width:70%;
			}
		}
	}
}

.single section h1 {
	text-align:left;
	font-size:em(34);
	font-weight:600;
	line-height:40px;
	margin-top:em(8);
	margin-bottom:em(4);
}

.single section p {
	text-align:left;
	margin-bottom:em(20);
}

.filters {
	display:block;
	margin-bottom:em(29);
	ul li a{
		color:#35b8d0;
		font-size:em(16);
		line-height:30px;
	}
	&.tags a {
		color:#35b8d0;
		font-size:em(16);
		line-height:30px;
	}
}

.col2 {
	float:left;
	width:100%;
	padding-bottom:em(64);
	margin-bottom:em(64);
	border-bottom:1px solid #c2c2c2;
	@media all and (min-width: $desktop) {
		width:50%;
	}
	h3 {
		font-size:em(16);
		font-weight:bold;
		margin-bottom:em(3);
	}
	p {
		margin-bottom:0;
		line-height:30px;
	}
	a {
		color:$dark-grey;
	}
}

footer {
	float:left;
	width:100%;
	text-align:center;
	padding:em(42) 0 em(28) 0;
	background:$brand-color-dark;
	h3 {
		color:#e5e9ed;
		font-size:em(23);
		margin-top:em(24);
	}
	.social {
		margin:em(31) auto;
	}
	ul li {
		display:inline;
		color:#e5e9ed;
		font-size:em(12);
		a {
			color:#e5e9ed;
		}
	}
}
