@charset "utf-8";
/* CSS Document */
html { overflow: -moz-scrollbars-vertical; }
body { color:#ffffff; font-family: 'nextbold'; line-height:1.25em; }

/*TYPE==============================================================================================*/
@font-face { font-family: 'nextbold'; src: url('../webfonts/next-bold-webfont.eot'); src: url('../webfonts/next-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../webfonts/next-bold-webfont.woff') format('woff'),  url('../webfonts/next-bold-webfont.ttf') format('truetype'),  url('../webfonts/next-bold-webfont.svg#nextbold') format('svg'); font-weight: normal; font-style: normal; }

#bubble { width:560px; height:560px; padding:20px; position:absolute; top:50%; left:50%; margin:-300px 0 0 -300px; background:url('../images/black80_bg.png'); border-radius:50%; text-align:center; }
#container{
	position: absolute;
	top: 50%;
	width: 100%;
	height: 600px;
	margin-top: -300px; /*set to a negative number 1/2 of your height*/
	text-align: center;
	background:url('../images/black80_bg.png');
	}		
#content{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 540px;
	margin-top: -270px; /*set to a negative number 1/2 of your height*/
	margin-left: -350px; /*set to a negative number 1/2 of your width*/
	text-align: center;
	background-position: 0;
	alignment-adjust: central;	
}

h1 { font-size:1.625em; margin:20px 0; }
#announce p {width:520px; margin:20px auto; width:520px; }
strong { color:333333; font-weight:normal; }

#contact { border-top:1px dotted #ffffff; width:520px; margin:0 auto; }
#contact p { font-size:0.8125em; margin: 15px 0 20px; }
#contact p a { color:#ffffff !Important; }




















/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
